body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
}

div.container {
  display: inline-block;
  padding: 64px;
  border-style: solid;
  border-width: 1px;
  border-color: #636363;
}

td {
  vertical-align: top;
}

table {
  border-collapse: collapse;
  overflow: hidden;
}

table.entities > tbody > tr > td,
table.entities > tbody > tr > th,
table.symbolspace > tbody > tr > td,
table.symbolspace > tbody > tr > th
{
  padding: 4px;
}

table.frame > tbody > tr > td:last-child {
  padding-left: 128px;
}

table.entities,
table.symbolspace
{
  width: 100%;
  border-radius: 6px;
}

table.symbolspace {
  margin-bottom: 16px;
  background-color: #e88400;
}

table:last-child.symbolspace {
  margin-bottom: 0px;
}

table.symbolspace > tbody > tr > th {
  text-align: left;
}

table.symbolspace > tbody > tr > th::before {
  content: "Symbolspace: ";
}

table.symbolspace > tbody > tr > td {
  background-color: #ffa835;
}

table.symbolspace > tbody > tr:nth-child(even) > td {
  background-color: #ffc982;
}

table.entities {
  background-color: #afafaf;
}

table.entities > tbody > tr > th {
  text-align: left;
}

table.entities > tbody > tr > td, table.entities > tbody > tr > th {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #636363;
}

table.entities > tbody > tr > td:first-child, table.entities > tbody > tr > th:first-child {
  border-left-style: none;
}

table.entities > tbody > tr > td {
  background-color: #fbfbfb;
}

table.entities > tbody > tr:nth-child(even) > td {
  background-color: #d5d5d5;
}

